.cart-border{
  border-bottom: 1px solid $lighter;
}
.cart-title{
  padding: 1rem;
  font-weight: bold;
}
.cart-img{
  min-width: 110px;
  height: 110px;
}
.cart-name{
  font-size: 1.25rem;
  margin-bottom: 3px;
}
.cart-btn, .cart-input{
  width: 48px;
  height: 48px;
  border-radius: 0;
  border: 1px solid $lighter;
}
.cart-price{
  font-size: 1.25rem;
  font-weight: bold;
}
.cart-icon{
  vertical-align: middle;
}


@media (max-width: 768px){
  .cart-bar{
    margin: .5rem 0;
  }
  .cart-price{
    padding: .5rem 1.25rem;
    border-top: 1px solid $lighter;
  }

}

.order-list{
  color: $lighter;
  background-color: $primary;
  .order-title{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: 1px solid $lighter;
  }
}
@media (max-width: 576px){
  .order-list{
    color: $primary;
    background-color: transparent;
    .order-title{
      padding: 1rem;
      border: 0;
      background-color: $lighter;
    }
  }
}
.order-1{
  margin-bottom: .5rem;
}
.order-2{
  margin-bottom: 1rem;
}
