
.step-bar{
  position: relative;
  margin-top: .5rem;
  &::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #8DA291;
  }
}
.step-icon{
  background: $primary;
  z-index: 1;
}

.checkout-img{
  width: 120px;
  height: 80px;
}

// checkout-2
.credit-card-icon{
  position: absolute;
  top: 150px;
  right: 60px;
}

// checkout-3-1,-2
.invoice{
  padding: 13px;
  font-size: 20px;
  border: 0;
  border-radius: 0;
}
.invoice-hover{
  color: $lighter;
  transition: all .3s;
  &:hover{
    color: $primary;
    background: $lighter;
  }
}
