
// 圖片和文字區
.max-h-420{
  max-height: 420px;
}
.bg-main{
  background-repeat: no-repeat;
  min-height: 250px;
}
.p-content{
  writing-mode: vertical-rl;
  padding: 65px 80px 65px 0;
  line-height: 2;
  letter-spacing: 1.5px;
}
@media (max-width: 768px){
  .p-content{
    writing-mode: horizontal-tb;
    padding: 30px;
  }
}
