.banner-2{
  img{
    position: absolute;
    top: 40px;
    right: 80px;
    height: 66%;
  }
}
@media (max-width: 768px){
  .banner-2{
    img{
      right: 30px;
    }
  }
}
@media (max-width: 320px){
  .banner-2{
    img{
      top: 30px;
    }
  }
}

.list-group-item.active{
  z-index: 2;
  color: #3F5D45;
  background-color: #EAF0ED;
  border-color: #EAF0ED;
}
.list-group-item{
  &:first-child, &:last-child{
    border-radius: 0;
  }
}
