.bg-successed{
  background-repeat: no-repeat;
  height: 460px;
}

.success-bar{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 60%;
    height: 1px;
    background-color: $primary;
  }
}

.fa-check-circle{
  background: $lighter;
  z-index: 1;
}