$main-height: 496px;

header{
  .banner{
    position: relative;
    background-repeat: no-repeat;
    height: $main-height;
  }
}
@media (max-width: 768px){
  header{
    .banner{
      height: 73.87vw;
      max-height: $main-height;
    }
  }
}
.sub-banner{
  margin-top: -90px;
  ul{
    height: 256px;
  }
  li{
    position: relative;
    width: 25%;
    overflow: hidden;
  }
  div{
    position: absolute;
  }
  span{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 10px;
  }
}
@media (max-width: 768px){
  .sub-banner{
    margin-top: -8px;
    ul{
      height: 180px;
    }
    li{
      width: 100%;
    }
  }
}
// sub banner 圖片
.bg-feature{
  background-repeat: no-repeat;
  filter: blur(3px);
}