.card-image{
  position: relative;
  height: 315px;
}
.card-tag{
  position: absolute;
  top: 0;
  left: 20px;
  writing-mode: vertical-lr;
  letter-spacing: 5px;
  padding: 11px 6px;
  color: white;
  background: $primary;
}
.card-icon{
  position: absolute;
  top: 20px;
  right: 22px;
}
.card-name{
  flex: 1;
  padding: 1rem;
  font-size: 1.25rem;
  border-left: 1px solid $lighter;
  border-right: 1px solid $lighter;
}
.card-price{
  flex: 1;
  padding: 1rem;
  font-size: 1.25rem;
  border-right: 1px solid $lighter;
}
.card-btn{
  transition: all .3s;
  &:hover{
    background: $primary;
    color: $lighter;
  }
}
