//background
.bg-cover{
  background-size: cover;
  background-position: center center;
}

.bg-accent-80 {
  background-color: rgba(theme-color('accent'), .8);
}
.bg-primary-80 {
  background-color: rgba(theme-color('primary'), .8);
}

.text-bold-36{
  font-size: 2.25rem;
  font-weight: bold;
}
.text-vertical{
  writing-mode: vertical-rl;
}


@media (min-width: 992px){
  .img-margin{
    margin-top: -20px;
    margin-bottom: -20px;
  }
}


@media (max-width: 576px){
  .row-negative-margin{
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 320px){
  .padding-0{
    padding: 0;
  }
}